/* @media (max-width: 768px) {
  body {
    font-size: 14px;
  }
} */

html {
  font-size: 14px;
}

nav {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  nav {
    font-size: 1rem;
  }
}

/* .tournament-tables {
  font-size: 14px;
} */
@media (max-width: 768px) {
  .tournament-tables {
    font-size: 0.85rem;
  }
}

body {
  font-family: Sans-serif, "Product Sans", monospace;
}

.scrolling-wrapper {
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tournamnet-info-badge {
  font-size: 1em;
  line-height: normal;
}
